# Set the default behavior to always use LF file endings
* text=auto eol=lf
# Denote all files that are truly binary and should not be modified.
*.bmp binary
*.dds binary
*.gif binary
*.jpg binary
*.pbm binary
*.pgm binary
*.png binary
*.ppm binary
# Prevent port patches from being normalized
/Ports/**/patches/* -text
/Users/lee/Desktop/Computer_Systems/serenity/Toolchain/Tarballs/llvm-project-15.0.3.src.tar.xz filter=lfs diff=lfs merge=lfs -text
/Users/lee/Desktop/Computer_Systems/serenity/Toolchain/Tarballs/gcc-12.1.0.tar.gz filter=lfs diff=lfs merge=lfs -text
